:root {
  --orange-color: #ff583b;
  --transparent-orange-color: #ff583bf5;
  --white-color: #ffffff;
  --max-width-large-screen: 1000px;
  --section-padding: 120px 0;
}

body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}

button {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--orange-color);
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: var(--max-width-large-screen);
  width: 90vw;
  margin: 0 auto;
  padding: 0;
}

.section-divider {
  width: 100vw;
  height: 10px;
  background-color: var(--orange-color);
}

/* h2 is used for section titles */
.section-title {
  font-size: 2.9rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: center;
  margin: 0;
  color: var(--orange-color);
}

.background-img-section {
  position: relative; /* Added to keep overlay in position */
  background-size: cover;
}

/* Dark overlay to background image */
/* REMEMBER: Add custom background value to section! */
.background-img-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Overlay is above background */
}

.background-img-section-content {
  position: relative; /* Ensures text is above the overlay */
  z-index: 2; /* Text is above overlay */
  color: var(--white-color);
}

.add-margin-below {
  margin-bottom: 100px;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-img {
  height: 120px;
  display: block;
}

#nav-links {
  display: flex;
  justify-content: end;
  gap: 30px;
  flex-wrap: wrap;
}

#nav-links a {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

/* Nav responsive settings */
@media (max-width: 700px) {
  #nav-links {
    gap: 13px;
    flex-direction: column;
  }
  #nav-links li {
    text-align: right;
  }
  #nav-links a {
    font-size: 1.3rem;
  }
}

#hero-section {
  padding: 180px 10%;
  background-image: url("./images/hero-background.webp");
  background-position: 50% 90%;
}

/* Dark overlay to background image*/
#hero-section::before {
  background: rgba(0, 0, 0, 0.82);
}

#hero-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: start;
  width: auto;
}

#hero-text-wrapper h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin: 0;
  text-shadow: 8px 8px 12px rgba(255, 255, 255, 0.3);
}

#hero-text-wrapper p {
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0;
  line-height: 3rem;
  text-shadow: 6px 6px 8px rgba(255, 255, 255, 0.3);
}

#hero-text-wrapper button {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 13px 20px 10px;
  background-color: var(--transparent-orange-color);
  color: var(--white-color);
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
}

#hero-text-wrapper button:hover {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.55);
  color: var(--orange-color);
  background-color: rgba(255, 255, 255, 0.83);
  box-sizing: border-box;
  box-shadow: 2px 2px 15px 0px rgb(255, 255, 255, 0.55);
}

/* Hero responsive settings */
@media (max-width: 640px) {
  #hero-text-wrapper {
    align-items: center;
    text-align: center;
    gap: 40px;
  }
  #hero-text-wrapper h1 {
    font-size: 3.5rem;
  }
  #hero-text-wrapper p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  #hero-text-wrapper button {
    font-size: 1.5rem;
  }
}

#services-section {
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

#services-wrapper {
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.service-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: center;
  flex: 1 1 calc(25% - 25px);
  max-width: calc(25% - 25px);
}

.service-item img {
  width: 75%;
  border: 3px solid var(--orange-color);
  border-radius: 9px;
  box-shadow: 6px 6px 12px 6px rgba(0, 0, 0, 0.25);
}

.service-item h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  color: var(--orange-color);
  text-align: center;
  line-height: 2rem;
}

/* Service section medium screen responsive settings */
@media (max-width: 900px) {
  #services-wrapper {
    gap: 50px;
  }
  .service-item {
    flex: 1 1 calc(50% - 35px); /* 2 rows */
    max-width: calc(40%);
  }
  #services-section .section-title {
    font-size: 2.3rem;
  }
}

/* Service section small screen responsive settings */
@media (max-width: 600px) {
  #services-wrapper {
    gap: 70px;
  }
  .service-item {
    flex: 1 1 calc(100% - 35px); /* 2 rows */
    max-width: calc(95%);
  }
}

#testimonials-section {
  padding: 120px 0;
  background-image: url("./images/testimonials-background.webp");
  background-position: 50% 100%;
}

#testimonials-section::before {
  background: rgba(0, 0, 0, 0.85);
}

#testimonials-text-wrapper {
  display: flex;
  flex-direction: column;
  color: var(--white-color);
}

.testimonial-text {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--white-color);
  text-align: left;
  line-height: 3rem;
  margin: 0;
}

.testimonial-author {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--orange-color);
  text-align: right;
  margin-right: 10%;
  margin-top: 10px;
}

@media (max-width: 550px) {
  #testimonials-text-wrapper .section-title {
    font-size: 2.6rem;
  }
  #testimonials-text-wrapper .add-margin-below {
    margin-bottom: 70px;
  }
  .testimonial-text {
    font-size: 1.6rem;
  }
  .testimonial-author {
    margin-top: 20px;
  }
}

#new-patient-section {
  padding: var(--section-padding);
  color: var(--white-color);
}

#patient-card {
  background-color: var(--orange-color);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px 50px;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

/* Overriding default section title values */
#patient-card .section-title {
  color: var(--white-color);
  font-size: 2.4rem;
  line-height: 2.8rem;
}

#patient-card p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.3rem;
}

/* On large screens have the text not be so wide */
@media (min-width: 1024px) {
  #patient-card p {
    max-width: 80%;
  }
}

#patient-card button {
  color: var(--white-color);
  background-color: var(--orange-color);
  padding: 16px 35px 12px;
  font-size: 1.9rem;
  border: 3px solid var(--white-color);
  border-radius: 20px;
  min-width: 55%;
  box-shadow: 0 0 10px var(--white-color);
}

#patient-card button:hover {
  color: var(--orange-color);
  background-color: var(--white-color);
  border-color: var(--white-color);
  box-shadow: 0px 0px 15px 1px var(--white-color);
}

#footer-section {
  background-color: var(--orange-color);
  box-shadow: 0 10px 10px 10px var(--orange-color);
}

#footer-section .container {
  padding: 16px 0 13px;
}

#footer-section p {
  color: var(--white-color);
  font-size: 1.1rem;
  font-weight: 300;
  padding: 0;
  text-align: center;
  margin: 0;
}
